body{
    height: 100vh;
    background-image: linear-gradient(45deg, cyan, yellow);
}
nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
}
.button-expandir{
    width: 100%;
    padding-left: 16%;
}
.button-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4% ;
    display: flex;
    margin-bottom: 20px;
}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
